.cabecalho{
    background-color: navy;
    border: 10px;
    border-color: rgb(255, 255, 0);
    border-style: dashed;
    margin: 10px;
    color: white;
    font-weight: 400;
}

#escudo-remo{
    width: 300px;
    border: 3px black solid;
}

.lista-links{
    font-size: 30px;
    color: white;

}
.lista-links:hover{
    font-size: 40px;
    color:greenyellow;
    
}
.principal{
    background-color: black;
    border: 10px;
    border-color: aliceblue;
    border-style: double;
    margin: 30px;
    color: yellow;
}